# OS specifics
.DS_Store

# Dependencies
node_modules

# Build specifics
.gradle
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Editor specifics
*.iml
.idea/
*.ipr
*.iws

# Logs
*.log
